.app__navbar {
  height: 50px;
  border-bottom: 1px solid #dde8fa;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
}
.app__navbar > img {
  width: 100px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 10vw;
}

.app__navbar .MuiSvgIcon-root {
  font-size: 18px;
  margin-right: 10vw;
}

.app__body {
  display: flex;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 625px) {
  .app__body {
    display: flex;
    flex-direction: column;
  }
}
