.articles {
  flex: 0.7;
  flex-direction: column;
  /* background-color: #fafafa; */
  border-right: 1px solid #dde8fa;
  overflow: scroll;
}

.articles > h2 {
  border-bottom: 1px solid #dde8fa;
  padding: 10px 0 5px 50px;
  font-size: medium;
  text-transform: capitalize;
  margin-top: 50px;
  position: sticky;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.articles::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.articles {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 625px) {
  .articles {
    flex: 1;
  }
  h2 {
    margin-top: 0px;
  }
}
